<!DOCTYPE html>
<html>
  <head>
    <title>top up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class='container'>
      <form action="" method="POST">
        <div class="form-group">
          <h4>Top up for {{customer.username}}</h4>
          <label>Current GBP Balance: {{customer.balance}}</label><br>
          <label>Current RMB Balance: {{customer.rmb_balance}}</label>
        </div>
        <div class="form-group">
          <label>please select the currency:</label>
          <select name='currency'>
            {% for currency in currencies %}
              <option value='{{currency.0}}'>{{currency.1}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="poundValue">please input the amount you want to top up:</label>
          <input 
            type="number" 
            class="form-control" 
            id="poundValue" 
            placeholder="0.00"
            name="poundValue"
            required
          >
        </div>
        <div class="form-group">
          <label for="note">Specific Note:</label>
          <input 
            type="text" 
            class="form-control" 
            id="note" 
            name="note"
          >
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br/>
      <br/>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Value</th>
            <th scope="col">Balance</th>
            <th scope="col">Note</th>
            <th scope="col">Currency</th>
            <th scope="col">Created By</th>
            <th scope="col">Created Date</th>
          </tr>
        </thead>
        <tbody>
          {% for history in histories %}
            <tr>
              <td>{{history.value}}</td>
              <td>{{history.balance}}</td>
              <td>{{history.note}}</td>
              <td>
                {% if history.currency == '0' %}
                  {{currencies.0.1}}
                {% else %}
                  {{currencies.1.1}}
                {% endif %}
              </td>
              <td>{{history.createdBy}}</td>
              <td>{{history.created_date|date:'Y-m-d H:i'}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>