{% load static %}
<html>
  <head>
    <title>Buy From Uk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "styles/index.css" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  </head>
  <body>
    <ul>
      {% for product in products %}
        <li>
          <table border="1">
            <tr>
              <td>title:</td>
              <td>{{ product.title }}</td>
            </tr>
            <tr>
              <td>description:</td>
              <td>{{ product.description }}</td>
            </tr>
            <tr>
              <td>category:</td>
              <td>{{ product.category }}</td>
            </tr>
            <tr>
              <td>brand:</td>
              <td>{{ product.brand }}</td>
            </tr>
            <tr>
              <td>created_date:</td>
              <td>{{ product.created_date }}</td>
            </tr>
            <tr>
              <td>feature img:</td>
              <td><img src="{{mediaUrl}}{{product.featureImgUrl}}" width=100/></td>
            </tr>
          </table>
        </li>
      {% endfor %}
    </ul>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>