{% extends 'admin/change_list.html' %}
{% block object-tools %}
  <h1>here is block content</h1>
  {{ block.super }}
{% endblock object-tools %}

{% block result_list %}
  {% for customer in customers %}
    <ul>
      <li>{{customer.username}}</li>
    </ul>
  {% endfor %}
  {{ Sched_today }}     
{% endblock %}