{% extends 'admin/change_list.html' %}
{% block object-tools %}
  <style type='text/css'>
    #content h1:first-child {
      display: none;
    }
    
    .filter-container {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
      align-items: flex-end;
    }
    .filter-item {
      margin-right: 10px;
    }

    .filter-item label {
      margin-right: 5px;
    }

    .button {
      padding: 5px 9px !important;
    }

    select {
      max-width: 200px;
    }

    #quantity_piechart, #income_piechart, #quantityBarChart, #incomeBarChart {
      width: 50%;
      display: inline-block;
    }

    .pie-chart-container {
      display: flex;
    }

  </style>
  <form action='' method='post'>
    <div class="filter-container">
      <span class='filter-item'>
        <label>Start Date:</label>
        <input type='date' 
          name='start_date' 
          placeholder="Start Date"
          value="{{start_date}}" 
          required>
      </span>
      <span class='filter-item'>
        <label>End Date:</label>
        <input 
          type='date' 
          name='end_date' 
          placeholder="End Date" 
          required
          value="{{end_date}}"
        >
      </span>
      <span class='filter-item'>
        <select name='product'>
          <option value=''>please select product</option>
          {% for product in products %}
            {% if selectedProduct == product.id %}
              <option value='{{product.id}}' selected>{{product.id}} - {{product.title}}</option>
            {% else %}
              <option value='{{product.id}}'>{{product.id}} - {{product.title}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </span>
      <button type='submit' class="button">Search</button>
    </div>
  </from>
{% endblock object-tools %}

{% block result_list %}
  {% if filteredOrders %}
    <div class="pie-chart-container">
      <div id="quantity_piechart"></div>
      <div id="income_piechart"></div>
    </div>
    <div class="pie-chart-container">
      <div id="quantityBarChart"></div>
      <div id="incomeBarChart"></div>
    </div>
    <div id="myGrid" style="height: calc(100vh - 207px); width: 100%;" class="ag-theme-alpine"></div>
    <script src="https://unpkg.com/@ag-grid-enterprise/all-modules@24.0.0/dist/ag-grid-enterprise.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      
      const colors = ['#264c99', '#a52a0d', '#bf7200',
        '#0c7012', '#720072', '#007294',
        '#b72153', '#4c7f00', '#8a2222',
        '#244a6f', '#723372', '#197f72',
        '#7f7f0c', '#4c2699', '#ac5600',
        '#680505', '#4b0c4d', '#256d49',
        '#3f577c', '#2c2e81', '#895619',
        '#10a017', '#8a0e62', '#d30b79',
        '#754227', '#7e930e', '#1f5969',
        '#4c6914', '#8e7b0e', '#084219',
        '#57270c'
      ];

      const barChartHeight = 50;

      function drawChart(params) {
        const productQuantityInfo = getProductSummaryInfo().map(product => {
          return [product.title, product.quantity];
        });
        
        const productIncomeInfo = getProductSummaryInfo().map(product => {
          return [product.title, product.total];
        });
        
        drawQuantityChart(productQuantityInfo);
        drawIncomeChart(productIncomeInfo);
        drawQuantityBarCharts(productQuantityInfo);
        drawIncomeBarCharts(productIncomeInfo);
      };

      function drawQuantityChart(productQuantityInfo) {
        var data = google.visualization.arrayToDataTable([
          ['Products', 'Quantity'],
          ...productQuantityInfo
        ]);

        var options = {
          title: 'Sold Products Quantity',
          is3D: false,
        };

        var chart = new google.visualization.PieChart(document.getElementById('quantity_piechart'));
        chart.draw(data, options);
      }

      function drawIncomeChart(productIncomeInfo) {
        var data = google.visualization.arrayToDataTable([
          ['Products', 'Income'],
          ...productIncomeInfo
        ]);

        var options = {
          title: 'Total Income',
          is3D: false,
        };

        var chart = new google.visualization.PieChart(document.getElementById('income_piechart'));
        chart.draw(data, options);
      }

      function drawQuantityBarCharts(productQuantityInfo) {
        var data = google.visualization.arrayToDataTable([
          ['Products', 'Quantity', {role: 'style'}],
          ...(productQuantityInfo.map((v, index)=> {
            return [
              ...v,
              colors[index % colors.length]
            ]
          })),
        ]);

        var chart = new google.visualization.BarChart(document.getElementById('quantityBarChart'));
        chart.draw(data, {
          title: 'Total Quantity',
          is3D: false,
          height: productQuantityInfo.length * barChartHeight,
        });
      }

      function drawIncomeBarCharts(productIncomeInfo) {
        var data = google.visualization.arrayToDataTable([
          ['Products', 'Income', {role: 'style'}],
          ...(productIncomeInfo.map((v, index)=> {
            return [
              ...v,
              colors[index % colors.length]
            ]
          })),
        ]);

        var chart = new google.visualization.BarChart(document.getElementById('incomeBarChart'));
        chart.draw(data, {
          title: 'Total Income',
          is3D: false,
          height: productIncomeInfo.length * barChartHeight,
        });
      }

      let products = [];
      {% for product in products %}
        products.push({
          id: {{product.id}},
          title: '{{product.title}}',
          price: {{product.price}},
        });
      {% endfor %}

      const productMap = products.reduce((a, c) => {
        a[c.id] = c;
        return a;
      }, {});
      let order;
      let orders = [];
      {% for order in filteredOrders %}
        order = {
          receiver: '{{ order.receiver }}',
          mobileNumber: '{{ order.mobileNumber}}',
          area: '{{ order.area }}',
          address: '{{ order.address }}',
          personalId: '{{ order.personalId }}',
          paymentType: '{{ order.paymentType }}',
          transactionId: '{{ order.transactionId }}',
          status: '{{ order.status}}',
          productInfo: {{ order.productInfo | safe }},
          customer: '{{ order.customer.username }}',
          orderDate: '{{ order.orderDate}}',
          totalFees: '{{ order.totalFees}}',
        };
        
        order.total = order.productInfo.reduce((a, c) => {
          return a + (productMap[c.id] && productMap[c.id].price * c.quantity || 0);
        }, 0);

        orders.push(order)
      {% endfor %}
      // need to calculate the total value
      const currencyFormatter = (value) => {
        return `£${value.toFixed(2)}`
      };

      const columnDefs = [
        {headerName: "receiver", field: "receiver"},
        {headerName: "mobileNumber", field: "mobileNumber"},
        {headerName: "area", field: "area"},
        {headerName: "paymentType", field: "paymentType"},
        {
          headerName: "product", 
          field: "productInfo", 
          valueFormatter: () => {
            return 'products detail'
          },
          cellRenderer: 'agGroupCellRenderer',
        },
        {
          headerName: 'Order Date',
          field: 'orderDate'
        },
        {
          headerName: "Product Total", 
          field: "total", 
          valueFormatter: (params) => {
            return currencyFormatter(Number(params.value));
          }
        },
        {
          headerName: "Delivery Fees", 
          field: "deliveryFee", 
          valueFormatter: (params) => {
            return currencyFormatter(Number(params.data.totalFees - params.data.total));
          }
        },
        {
          headerName: "Total Include Delivery Fees", 
          field: "totalFees", 
          valueFormatter: (params) => {
            return currencyFormatter(Number(params.value));
          }
        },
      ];
      
      const defaultColDef = {
        sortable: true,
        filter: true,
        resizable: true,
      };

      const gridOptions = {
        columnDefs: columnDefs,
        rowData: orders,
        masterDetail: true,
        defaultColDef,
        pinnedBottomRowData: (() => {
          const total = orders.reduce((a, c) => { return a + c.total }, 0);
          const totalFees = orders.reduce((a, c) => { return a + Number(c.totalFees) }, 0);

          return [
            {
              total, 
              deliveryFee: totalFees - total,
              totalFees,
            },
          ]
        })(),
        detailCellRendererParams: {
          // provide the Grid Options to use on the Detail Grid
          detailGridOptions: {
            defaultColDef,
            columnDefs: [
              { 
                field: 'id',
                width: 80,
              },
              { 
                field: 'product name',
                valueFormatter: (params) => {
                  return productMap[params.data['id']].title;
                }
              },
              { 
                field: 'quantity', 
                width: 120,  
              },
              { 
                field: 'total',
                width: 120,  
                valueFormatter: (params) => {
                  return currencyFormatter(productMap[params.data.id].price * params.data.quantity);
                }
              },
            ]
          },
          // get the rows for each Detail Grid
          getDetailRowData: function(params) {
            params.successCallback(params.data.productInfo);
          }
        }
      };

      const getProductSummaryInfo = () => {
        const newProductMap = {};
        
        orders.forEach(order => {
          order.productInfo.forEach(product => {
            if (!productMap[product.id]) {
              return ;
            }
            
            if (!newProductMap[product.id]) {
              newProductMap[product.id] = {
                quantity: 0,
                total: 0,
                title: productMap[product.id].title,
              };
            }

            newProductMap[product.id].quantity += product.quantity;
            newProductMap[product.id].total += product.quantity * (productMap[product.id].price);
          });
        });
        
        return Object.keys(newProductMap).map(k => {
          return {
            id: k,
            ...newProductMap[k],
          }
        });
      }
      // setup the grid after the page has finished loading
      document.addEventListener('DOMContentLoaded', function() {
        const gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
        console.log('new product map:', getProductSummaryInfo());
      });
    </script>

  {% endif %}
  {% endblock result_list %}
