<!DOCTYPE html>
<html>
  <head>
    <title>print order</title>
    <style type='text/css'>
      .list-item {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 6px;
      }

      .list-item .attribute {
        margin-right: 10px;
        width: 88px;
      }
      
      .list-item .value {
        
      }
    </style>
  </head>
  <body>
    {% if order %}
      <div class='list-container'>
        <div class='list-item'>
          <div class='attribute'>id:</div>
          <div class='value'>{{order.id}}</div>
        </div>
        <div class='list-item'>
          <div class='attribute'>收件人:</div>
          <div class='value'>{{order.receiver}}</div>
        </div>
        <div class='list-item'>
          <div class='attribute'>手机号:</div>
          <div class='value'>{{order.mobileNumber}}</div>
        </div>
        <div class='list-item'>
          <div class='attribute'>地区:</div>
          <div class='value'>{{order.area}}</div>
        </div>
        <div class='list-item'>
          <div class='attribute'>地址:</div>
          <div class='value'>{{order.address}}</div>
        </div>
        <div class='list-item'>
          <div class='attribute'>身份证号:</div>
          <div class='value'>{{order.personalId}}</div>
        </div>
        <div class='list-item'>
          <div class='attribute'>订单状态:</div>
          <div class='value'>{{order.status}}</div>
        </div>
        <div class='list-item'>
          <div class='attribute'>货物信息:</div>
          <div class='value'>
            {% for info in order.productInfo %}
              <div>{{info.product.title}} &pound;{{info.product.price}} * {{info.quantity}} = &pound;{{info.sum}}</div>
            {% endfor %}
          </div>
        </div>
        <div class='list-item'>
          <div class='attribute'>总价:</div>
          <div class='value'>&pound;{{order.sum}}</div>
        </div>
        <div class='list-item'>
          <div class='attribute'>下单日期:</div>
          <div class='value'>{{order.orderDate}}</div>
        </div>
        <div class='list-item'>
          <div class='attribute'>下单用户:</div>
          <div class='value'>{{order.customer}}</div>
        </div>
        
      </div>
    {% else %}
      order does not exist
    {% endif %}
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => {
          window.print();
        }, 1000);
      });
    </script>
  </body>
</html>